*{
    margin: 0px;
    padding: 0px;
}

/* Navbar */
.nav{
    background: red;
    height: 500px;
}
.list{
    display: flex;
    align-items: center;
    justify-content: center;

}
.list-items{
    list-style: none;
    margin: 10px;
   
}
.list-items a {
    padding: 10px;
    text-decoration: none;
    font-family: cascadia code;
    font-size: 2em;
}